@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.city
{
        display: flex;
        font-family: 'Cormorant Garamond', serif;
        font-size: 23px;
        width: 70px;
        font-weight: bold;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid green;
}

.temperature
{
        font-family:  'EB Garamond', serif;
        font-weight: normal;
}